{% extends "chat/base.html" %}

{% load static %}

{% block title %}Private Chat{% endblock title %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock style %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
	<script>var nickname = "{{ nickname }}";</script>
{% endblock script %}

{% block content %}
	<div class="contenitore">
		<div class="log_reg">
			<h1>Chat con {{ nickname }}</h1>
			<input type="text" id="messaggio" autocomplete="off">
			<button id="invio">Invio</button>
			<div id="scritte"></div>
			<div>
				<a style="font-size: 20px; font-weight: bold;" href="../">User List</a>
				<a style="font-size: 20px; font-weight: bold;" href="../../">Logout</a>
			</div>
		</div>
	</div>
{% endblock content %}